tiktoken
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.0+cu118
torchaudio==2.0.0+cu118
torchvision==0.15.0+cu118
tqdm==4.65.0
transformers==4.36.2
accelerate
wandb
datasets
zstandard
scikit-learn
sacremoses
tokenizers
tfds-nightly 
tensorflow